.booking {
  padding: 100px 288px 136px;
}

.booking__overlay {
  display: none;
}

.booking__guests-overlay {
  display: none;
}

.booking__calendar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none;
}

.booking__section {
  padding: 60px 112px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}

.booking__subsection {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 32px;
  row-gap: 20px;
}

.booking__block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.booking__block_half {
  grid-column: span 3;
}

.booking__block_full {
  grid-column: span 6;
}

.booking__title {
  grid-column: span 6;
}

.booking__dates {
  grid-column: span 6;
  font-weight: 600;
}

.booking__text {
  grid-column: span 6;
  text-align: center;
}

.booking__input {
  min-height: 56px;
  border: 1px solid var(--main-green);
  border-radius: 12px;
  background-color: transparent;
  padding: 17px 16px;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}

.booking__input:hover {
  background-color: rgba(69, 116, 96, 0.1);
}

.booking__input:focus {
  background-color: rgba(249, 244, 233, 1);
  outline: none;
}

.booking__input-container {
  position: relative;
}

.booking__calendar-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-image: url(../../assets/icons/calendar.svg);
  pointer-events: none;
}

.booking__input_select {
  appearance: none;
  background: url(../../assets/icons/select.svg) no-repeat 98% center;
}

.booking__label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
  margin: 0 0 16px;
}

.booking__option {
  background: red;
}

.booking__link {
  color: var(--sec-green);
  text-decoration: none;
}

.booking__link_bold {
  font-weight: 600;
}

.booking__title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
  text-align: center;
}

.booking__text {
  margin: 0;
}

.booking__button {
  grid-column: span 6;
  justify-self: center;
  color: var(--white);
  background-color: var(--main-green);
  padding: 20px 24px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

.booking__add-button {
  align-self: start;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.booking__add-button-img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  border-radius: 200px;
}

.booking__add-button-img:hover {
  background-color: rgba(69, 116, 96, 0.1);
}

.booking__add-button-text {
  font-weight: 600;
}

.booking__guests {
  width: 100%;
  min-height: 56px;
  box-sizing: border-box;
  border: 1px solid var(--main-green);
  border-radius: 12px;
  background-color: transparent;
  padding: 17px 16px;
  margin: 0;
  cursor: pointer;
}

.booking__guests-icon {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/select.svg);
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
}

.booking__guests-icon_flipped {
  transform: translateY(-50%) rotate(180deg);
}

.booking__guests:hover {
  background-color: rgba(69, 116, 96, 0.1);
}

.booking__guests-wrapper {
  position: relative;
}

@media (max-width: 1375px) {
  .booking {
    padding: 100px 144px 136px;
  }
}

@media (max-width: 1200px) {
  .booking {
    padding: 100px 40px 136px;
  }
}

@media (max-width: 898px) {
  .booking__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none;
  }

  .booking__guests-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    display: none;
  }
}

@media (max-width: 768px) {
  .booking {
    padding: 60px 18px 116px;
  }

  .booking__section {
    padding: 59px 0 0;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }

  .booking__subsection {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 32px;
    row-gap: 20px; */
  }

  .booking__block_half {
    grid-column: span 3;
  }

  .booking__block_full {
    grid-column: span 3;
  }

  .booking__title {
    grid-column: span 3;
  }

  .booking__dates {
    grid-column: span 3;
  }

  .booking__text {
    grid-column: span 3;
  }

  .booking__button {
    grid-column: span 3;
  }
}
