.booking {
  padding: 100px 288px 136px;
}

.booking__section {
  padding: 60px 112px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 32px;
  row-gap: 32px;
}

.booking__subsection {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 32px;
  row-gap: 20px;
}

.booking__block {
  display: flex;
  flex-direction: column;
}

.booking__block_half {
  grid-column: span 3;
}

.booking__block_full {
  grid-column: span 6;
}

.booking__title {
  grid-column: span 6;
}

.booking__dates {
  grid-column: span 6;
  font-weight: 600;
}

.booking__text {
  grid-column: span 6;
}

.booking__input {
  border: 1px solid var(--main-green);
  border-radius: 12px;
  background-color: transparent;
  padding: 17px 16px;
}

.booking__input:focus {
  background-color: rgba(249, 244, 233, 1);
  outline: none;
}

.booking__input_select {
  appearance: none;
  background: url(../../assets/icons/select.svg) no-repeat 98% center;
}

.booking__label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 22.4px;
  text-align: left;
  margin: 0 0 16px;
}

.booking__option {
  background: red;
}

.booking__link {
  color: var(--sec-green);
  text-decoration: none;
}

.booking__link_bold {
  font-weight: 600;
}

.booking__title {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
  text-align: center;
}

.booking__text {
  margin: 0;
}

.booking__button {
  grid-column: span 6;
  justify-self: center;
  color: var(--white);
  background-color: var(--main-green);
  padding: 20px 24px;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

@media (max-width: 1375px) {
  .booking {
    padding: 100px 144px 136px;
  }
}

@media (max-width: 1200px) {
  .booking {
    padding: 100px 40px 136px;
  }
}

@media (max-width: 768px) {
  .booking {
    padding: 60px 18px 116px;
  }

  .booking__section {
    padding: 59px 0 0;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
  }

  .booking__subsection {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 32px;
    row-gap: 20px; */
  }

  .booking__block_half {
    grid-column: span 3;
  }

  .booking__block_full {
    grid-column: span 3;
  }

  .booking__title {
    grid-column: span 3;
  }

  .booking__dates {
    grid-column: span 3;
  }

  .booking__text {
    grid-column: span 3;
  }

  .booking__button {
    grid-column: span 3;
  }
}
