.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 100px;
  padding: 180px 64px;
}
.contact__address {
  margin: 40px 0 0;
  grid-column: 2 / span 5;
}
.contact__contacts {
  margin: 40px 0 0;
  grid-column: 9 / span 3;
}

.contact__icon {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.contact__icon_telegram-light {
  background-image: url(../../assets/icons/telegram-icon-beige.svg);
}

.contact__icon_telegram-dark {
  background-image: url(../../assets/icons/telegram-icon-dark.svg);
}

.contact__icon_telegram-light:hover {
  background-image: url(../../assets/icons/telegram-icon-beige-hover.svg);
}

.contact__icon_whatsapp-light {
  background-image: url(../../assets/icons/whatsapp-icon-beige.svg);
}

.contact__icon_whatsapp-dark {
  background-image: url(../../assets/icons/whatsapp-icon-dark.svg);
}

.contact__icon_whatsapp-light:hover {
  background-image: url(../../assets/icons/whatsapp-icon-beige-hover.svg);
}

.contact__icon_telegram-dark:hover {
  background-image: url(../../assets/icons/telegram-icon-dark-hover.svg);
}

.contact__icon_whatsapp-dark:hover {
  background-image: url(../../assets/icons/whatsapp-icon-dark-hover.svg);
}

.contact__link {
  margin: 0 20px 0 0;
  text-decoration: none;
  color: var(--dark-green);
}
.contact__link-button {
  grid-column: span 12;
  justify-self: center;
  color: var(--white);
  background-color: var(--main-green);
  padding: 20px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 20px;
  border: 1px solid var(--main-green);
  transition: all 0.2s ease-in;
}

.contact__link-button:hover {
  border-radius: 32px;
  background-color: var(--light-beige);
  color: var(--main-green);
}

.contact__link-button:active {
  border-radius: 32px;
  background-color: var(--main-green);
  color: var(--light-beige);
}

.contact__text {
  margin: 0 0 20px;
  font-size: 1.25rem;
}

.contact__text:first-of-type {
  margin: 20px 0 20px;
}

.contact__address-text {
  margin: 20px 0 76px;
  font-size: 1.25rem;
}

@media (min-width: 1441px) {
  .contact {
    padding: 180px calc((100vw - 1312px) / 2);
  }
}

@media (max-width: 768px) {
  .contact {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    padding: 140px 18px;
  }

  .contact__address {
    margin: 0;
    grid-column: span 3;
  }

  .contact__contacts {
    margin: 0;
    grid-column: span 3;
  }

  .contact__link {
    margin: 0 20px 0 0;
  }

  .contact__link-button {
    grid-column: span 3;
    padding: 20px 44px;
  }

  .contact__address-text {
    margin: 20px 0 52px;
  }
}
