.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
  padding: 180px 0 0;
}

.gallery__slider {
  grid-column: span 12;
}

.gallery__slider_enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 600px;
  z-index: 1000;
}

.gallery__slide {
  border-radius: 20px;
  overflow: hidden;
}

.gallery__img {
  width: 100%;
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    padding: 140px 0 0;
  }

  .gallery__slider {
    grid-column: span 3;
  }

  .gallery__slider {
    grid-column: span 3;
  }
}
