.guests-dropdown {
  position: absolute;
  box-sizing: border-box;
  top: 100%;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 0px 30px 2px rgba(69, 116, 96, 0.1);
  border-radius: 20px;
  padding: 12px 22px;
  display: none;
  background-color: var(--light-beige);
}

.guests-dropdown_open {
  display: block;
}

.guests-dropdown__text {
  display: flex;
  flex-direction: column;
}

.guests-dropdown__text-upper {
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark-green);
}

.guests-dropdown__text-lower {
  font-size: 0.875rem;
  color: rgba(70, 91, 74, 0.6);
}

.guests-dropdown__item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.guests-dropdown__buttons {
  display: flex;
  justify-content: space-between;
}

.guests-dropdown__button {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 200px;
}

.guests-dropdown__button:hover {
  background-color: rgba(69, 116, 96, 0.1);
}

.guests-dropdown__button_plus {
  background-image: url(../../assets/icons/plus.svg);
}

.guests-dropdown__button_minus {
  background-image: url(../../assets/icons/minus.svg);
}

.guests-dropdown__button_plus:active {
  background-image: url(../../assets/icons/plus-green.svg);
}

.guests-dropdown__button_minus:active {
  background-image: url(../../assets/icons/minus-green.svg);
}

.guests-dropdown__button_inactive {
  background-image: url(../../assets/icons/minus-disabled.svg);
}

.guests-dropdown__number {
  width: 20px;
  max-width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px 16px;
  text-align: center;
}

.guests-dropdown__number::-webkit-outer-spin-button,
.guests-dropdown__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.guests-dropdown__number[type="number"] {
  -moz-appearance: textfield;
}

.guests-dropdown__header {
  display: none;
}

@media (max-width: 898px) {
  .guests-dropdown {
    width: 100%;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-radius: 20px 20px 0 0;
  }

  .guests-dropdown__header {
    display: block;
    text-align: center;
    font-family: "Philosopher", Georgia, "Times New Roman", Times, serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.01em;
    padding: 40px 40px 8px;
    background-color: var(--light-beige);
  }
}
