.header {
  position: relative;
  background-size: cover;
  background-position: center;
}

.header_home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/header-background-home.jpeg");
  background-size: cover;
  background-position: center;
  animation: scaleUp 1s ease-out;
  z-index: -1;
}

.header_home * {
  opacity: 0;
  animation: fadeIn 1s ease-out 0.5s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header_page_rooms {
  background-image: url("../../assets/icons/wavesbg-header.svg");
  background-position: bottom;
}

.header_page_booking {
  background-image: url("../../assets/icons/wavesbg-header.svg");
  background-position: bottom;
}

.header_page_about {
  background-image: url("../../assets/images/about-header-background.jpeg");
}

.header_page_services {
  background-image: url("../../assets/images/services-header-background.png");
}

.header__upper {
  padding: 24px 64px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  background: linear-gradient(
    180deg,
    #000 10.5%,
    rgba(0, 0, 0, 0) 99.99%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.header__upper_transparent {
  background: transparent;
}

.header__lower {
  padding: 400px 64px 44px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.header__lower_page_rooms {
  padding: 60px 64px 160px;
  color: var(--light-beige);
}

.header__lower_page_booking {
  padding: 68px 64px 160px;
  color: var(--light-beige);
}

.header__lower_page_about {
  padding: 354px 64px;
}

.header__lower_page_services {
  padding: 354px 64px;
}

.header__menu-button {
  grid-column: span 4;
  justify-self: start;
  width: 60px;
  height: 32px;
  cursor: pointer;
  margin: 6px 0;
  background: transparent;
  border: none;
  background-image: url("../../assets/icons/menu-icon.svg");
  background-size: cover;
  background-position: center;
}

.header__logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  grid-column: span 4;
  justify-self: center;
  margin: 2px 0;
}

.header__logo-link {
  text-decoration: none;
  background: linear-gradient(
    93.07deg,
    #fdfcfb 3.09%,
    #ebdbce 99.36%,
    #efdcc0 99.36%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link-button {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  grid-column: span 4;
  justify-self: end;
  color: var(--white);
  padding: 12px 16px;
  border: solid 1px var(--white);
  border-radius: 8px;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.header__link-button:hover {
  background-color: var(--white);
  box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.4);
  color: var(--black);
  border-radius: 32px;
}

.header__link-button:active {
  background-color: var(--main-green);
  color: var(--white);
}

.header__contacts-list {
  position: relative;
  list-style-type: none;
  padding: 170px 7px 10px;
  margin: 0 0 0 7px;
  grid-column: span 1;
  justify-self: start;
}

.header__contact-link {
  margin: 0;
  text-decoration: none;
}

.header__contact-img {
  width: 32px;
  height: 32px;
  display: block;
}

.header__contact-img_telegram-light {
  background-image: url(../../assets/icons/telegram-icon-beige.svg);
}

.header__contact-img_telegram-light:hover {
  background-image: url(../../assets/icons/telegram-icon-beige-hover.svg);
}

.header__contact-img_whatsapp-light {
  background-image: url(../../assets/icons/whatsapp-icon-beige.svg);
}

.header__contact-img_whatsapp-light:hover {
  background-image: url(../../assets/icons/whatsapp-icon-beige-hover.svg);
}

.header__contact {
  margin: 0 0 20px;
}

.header__contact:last-of-type {
  margin: 0;
}

.header__contacts-list::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  height: 140px;
  width: 2px;
  background-color: var(--white);
}

@media (min-width: 1441px) {
  .header_page_rooms {
    background-image: url("../../assets/icons/Waves-bg-header-1800px-480px.svg");
  }

  .header_page_booking {
    background-image: url("../../assets/icons/Waves-bg-header-1800px-480px.svg");
  }
}

@media (max-width: 768px) {
  .header_page_rooms {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .header_page_rooms {
    background-image: url("../../assets/icons/waves-header-mob.svg");
    background-position: bottom;
  }

  .header__upper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 40px 18px;
    row-gap: 32px;
  }

  .header__lower {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 300px 18px 40px;
  }

  .header__lower_page_rooms {
    padding: 120px 18px 248px;
  }

  .header__lower_page_booking {
    padding: 52px 18px 168px;
  }

  .header__lower_page_services {
    padding: 332px 0;
  }

  .header__lower_page_about {
    padding: 302px 0;
  }

  .header__menu-button {
    grid-column: span 1;
  }

  .header__logo {
    grid-column: 2 / span 1;
    grid-row: 2;
  }

  .header__link-button {
    grid-column: 2 / span 2;
  }

  .header__contacts-list {
    margin: 0;
  }
}
