.info {
  padding: 180px 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 80px;
}

@media (min-width: 1441px) {
  .info {
    padding: 180px calc((100vw - 1312px) / 2);
  }
}

@media (max-width: 768px) {
  .info {
    padding: 140px 18px 100px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 60px;
  }
}
