.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-beige);
  z-index: 998;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  overflow-y: auto;
}

.menu_active {
  transform: scale(1);
}

.menu__social {
  display: flex;
  align-items: center;
}

.menu__icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
}

.menu__header {
  grid-column: span 7;
  padding: 30px 64px;
}

.menu__body {
  grid-column: span 7;
  padding: 20px 160px 158px 176px;
}
.menu__close-button {
  width: 36px;
  height: 36px;
  cursor: pointer;
  margin: 7px 12px;
  background: transparent;
  border: none;
  background-image: url("../../assets/icons/close-button-dark.svg");
  background-size: cover;
  background-position: center;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 32px;
  overflow: hidden;
}

.menu__item {
  padding: 24px 20px;
  font-family: "Philosopher", Georgia, "Times New Roman", Times, serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.01em;
  text-align: left;
}

.menu__item:hover {
  background-color: var(--main-green);
}

.menu__item:hover .menu__link {
  color: var(--light-beige);
}

.menu__link {
  text-decoration: none;
  color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.menu__link span {
  margin: 0 30px 0 0;
}

.menu__logo {
  margin: 0;
  display: none;
}

.menu__sidebar {
  color: var(--light-beige);
  padding: 184px 87px 248px;
  grid-column: span 5;
  grid-row: span 2;
  background-color: var(--main-green);
}

.menu__sidebar-logo {
  margin: 0 0 80px;
  font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--light-beige);
}

.menu__sidebar-logo-link {
  text-decoration: none;
  background: linear-gradient(
    93.07deg,
    #fdfcfb 3.09%,
    #ebdbce 99.36%,
    #efdcc0 99.36%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__contacts {
  display: grid;
  row-gap: 32px;
}
.menu__text {
  margin: 0;
  font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
}

.menu__text_phones {
  display: flex;
  flex-direction: column;
}

.menu__contact-link {
  text-decoration: none;
  color: var(--light-beige);
  transition: color 0.2s ease-in-out;
}

.menu__contact-link:hover {
  color: var(--white);
}

.menu__social-link {
  height: 32px;
  width: 32px;
  margin-right: 20px;
  text-decoration: none;
}

.menu__link-button-container {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.menu__link-button {
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.menu__link-button_short {
  opacity: 0;
}

.menu__button-circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--light-beige);
  transition: width 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    height 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    background-color 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  z-index: 0;
}

.menu__item:hover .menu__link-button_short {
  opacity: 1;
}

.menu__item:hover .menu__button-circle {
  width: 80px;
  height: 80px;
  background-color: var(--light-beige);
}

.menu__item:active .menu__button-circle {
  width: 60px;
  height: 60px;
  background-color: var(--light-beige);
}

@media (min-width: 1441px) {
  .menu__header {
    padding: 30px calc((100vw - 1312px) / 2);
  }
  .menu__body {
    padding: 20px 160px 158px calc((100vw - 1136px) / 2);
  }
}

@media (max-width: 1320px) {
  .menu__body {
    grid-column: span 7;
    padding: 20px 0 158px 87px;
  }
}

@media (max-width: 768px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .menu__close-button {
    background-image: url("../../assets/icons/close-button-light.svg");
  }

  .menu__logo {
    display: block;
    font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--light-beige);
  }

  .menu__logo-link {
    text-decoration: none;
    background: linear-gradient(
      93.07deg,
      #fdfcfb 3.09%,
      #ebdbce 99.36%,
      #efdcc0 99.36%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .menu__sidebar {
    display: none;
  }

  .menu__header {
    grid-column: span 3;
    padding: 46px 18px 82px;
    display: flex;
    justify-content: end;
    background-image: url("../../assets/icons/waves-menu-mob.svg");
    background-size: cover;
    background-position: bottom;
  }
  .menu__body {
    grid-column: span 3;
    padding: 24px 18px 131px;
  }
}
