.reviews {
  background-image: url("../../assets/icons/waves-bg-block2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
  padding: 162px 64px 188px;
  color: var(--light-beige);
  box-sizing: border-box;
}

.reviews__close-card {
  display: none;
}

.reviews__title-wraper {
  grid-column: 4 / span 6;
}

.reviews__text {
  margin: 32px 0 0;
  max-height: 270px;
  overflow: scroll;
}

.reviews__slider {
  grid-column: span 12;
}

.reviews__open-card {
  display: none;
}

.reviews__card {
  box-sizing: border-box;
  padding: 40px 32px;
  border: 1px solid var(--light-beige);
  border-radius: 8px;
  height: 100%;
  overflow: visible;
  background-color: var(--main-green);
  transition: all 0.3s ease;
}

.splide__slide:hover .reviews__card {
  border: 1px solid var(--main-green);
  background-color: var(--light-beige);
  color: var(--main-green);
}

.splide__slide {
  overflow: visible;
  position: relative;
  padding: 8px;
  box-sizing: content-box;
  transition: transform 0.3s ease;
}

.splide__slide:hover {
  transform: scale(1.03);
}

.reviews__arrow {
  width: 194px;
  height: 20px;
  border-radius: 0;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -55px;
}

.reviews__arrow_prev {
  background-image: url("../../assets/icons/arrow-beige-left.svg");
  left: 0;
}

.reviews__arrow_next {
  background-image: url("../../assets/icons/arrow-beige-right.svg");
  right: 0;
}

.reviews__arrow_prev:not(:disabled):hover {
  background-image: url("../../assets/icons/arrow-with-circle-left.svg");
  height: 40px;
  left: 0;
}

.reviews__arrow_next:not(:disabled):hover {
  background-image: url("../../assets/icons/arrow-with-circle.svg");
  height: 40px;
  right: 0;
}

@media (min-width: 1441px) {
  .reviews {
    background-image: url("../../assets/icons/Waves-bg-block2-full-1800px-1100px.svg");
    min-height: 1100px;
    padding: 162px calc((100vw - 1312px) / 2) 188px;
  }
}

@media (max-width: 768px) {
  .reviews {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    padding: 97px 0 114px;
  }

  .reviews__title-wraper {
    grid-column: span 3;
    padding: 0 18px;
  }

  .reviews__card_expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .reviews__text {
    max-height: 180px;
    position: relative;
    overflow: hidden;
  }

  .reviews__card-upper {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .reviews__close-card_active {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url(../../assets/icons/arrow-round-left.svg);
    background-repeat: no-repeat;
    background-position: cover;
    background-position: center;
    margin: 0 20px 0 0;
    cursor: pointer;
  }

  .reviews__open-card {
    margin: 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 34px;
    height: 54px;
    background: linear-gradient(
      to bottom,
      rgba(69, 116, 96, 0.3) 0%,
      rgba(69, 116, 96, 1) 100%
    );
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
  }
  .reviews__open-card_hidden {
    display: none;
  }

  .splide__slide:hover .reviews__card {
    border: 1px solid var(--light-beige);
    background-color: var(--main-green);
    color: var(--light-beige);
  }

  .splide__slide:hover {
    transform: none;
  }

  .reviews__slider {
    grid-column: span 3;
  }

  .reviews__card {
    padding: 32px 20px 66px;
    color: var(--light-beige);
  }

  .reviews__arrow {
    display: none;
  }
}

@media (max-width: 375px) {
  .reviews {
    background-image: url("../../assets/icons/waves-block-2-mob.svg");
    min-height: 760px;
  }
}
