.rooms-building {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 80px;
  padding: 180px 64px 0;
}

.rooms-building__description {
  margin: 0;
  grid-column: span 6;
}

.rooms-building__link {
  grid-column: 8 / span 5;
  align-self: center;
}

.rooms-building__link_mobile {
  display: none;
}

.rooms-building__card {
  grid-column: span 12;
}

@media (max-width: 1120px) {
  .rooms-building__link {
    display: none;
  }

  .rooms-building__link_mobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .rooms-building {
    grid-template-columns: repeat(3, 1fr);
    padding: 140px 18px 0;
  }

  .rooms-building__description {
    grid-column: span 3;
  }

  .rooms-building__link {
    grid-column: span 3;
    align-self: center;
  }

  .rooms-building__card {
    grid-column: span 3;
  }
}
