.room-details {
  display: none;
  grid-column: span 12;
  border: 1px solid var(--main-green);
  border-radius: 32px;
  overflow: hidden;
}

.room-details:first-of-type {
  display: block;
}

.room-details__card {
  border-bottom: 1px solid var(--main-green);
}

.room-details__upper-img {
  width: 212px;
  height: 136px;
  display: none;
}

.room-details__card:last-of-type {
  border-bottom: none;
}

.room-details__upper {
  cursor: pointer;
  display: flex;
}

.room-details__upper:hover {
  background-color: var(--main-green);
}

.room-details__upper_open:hover {
  background-color: var(--light-beige);
}

.room-details__lower {
  display: none;
}

.room-details__lower_open {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 14px;
  padding: 20px 66px 60px 40px;
}

.room-details__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  padding: 28px 26px 28px 40px;
  flex-grow: 1;
}

.room-details__subtitle {
  grid-column: span 11;
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  margin: 0;
}

.room-details__upper:hover .room-details__subtitle {
  color: var(--light-beige);
}

.room-details__upper_open:hover .room-details__subtitle {
  color: var(--dark-green);
}

.room-details__slider_type_main {
  margin: 0 0 16px;
}

.room-details__slide_type_main {
  border-radius: 20px;
}

.room-details__slide_type_thumbnails {
  border-radius: 8px;
}

.room-details__arrow {
  width: 38px;
  height: 38px;
  border: 2px solid var(--main-green);
  background-color: var(--light-beige);
  opacity: 1 !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -239px;
  background-image: url("../../assets/icons/arrow-round.svg");
}

.room-details__arrow:hover {
  background-image: url("../../assets/icons/arrow-round-beige.svg");
  background-color: var(--main-green);
}

.room-details__arrow_prev {
  transform: rotate(0.5turn) translateY(50%);
  left: -19px;
}

.room-details__arrow_next {
  right: -19px;
}

.room-details__slider-box {
  grid-column: span 6;
  grid-row: span 2;
  margin: 0 55px 0 0;
}

.room-details__description {
  grid-column: 7 / span 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 36px;
}

.room-details__category {
  margin: 0;
  grid-column: span 1;
  white-space: nowrap;
  font-weight: 600;
}

.rooms-details__list {
  grid-column: span 4;
  margin: 0 0 40px;
  padding: 0;
}

.rooms-details__list-item {
  list-style-type: none;
  margin: 0 0 8px;
}

.rooms-details__list-item:last-of-type {
  margin: 0;
}

.room-details__button {
  grid-column: 2 / span 2;
  background-color: var(--main-green);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  color: var(--light-beige);
  cursor: pointer;
  padding: 16px 24px;
  min-width: 212px;
  max-height: 52px;
  border: 1px solid var(--main-green);
  transition: all 0.3s ease;
}

.room-details__button:hover {
  border-radius: 32px;
  background-color: var(--light-beige);
  color: var(--main-green);
}

.room-details__button:active {
  border-radius: 32px;
}

.room-details__price {
  grid-column: 4 / span 2;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin: 13px 0 0 13px;
}

.room-details__open-button-container {
  width: 80px;
  height: 80px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.room-details__open-button {
  position: absolute;
  transition: opacity 0.2s ease;
  z-index: 1;
}

.room-details__open-button_state_active {
  transform: rotate(0.25turn);
}

.room-details__open-button_long {
  opacity: 1;
}

.room-details__open-button_short {
  opacity: 0;
}

.room-details__open-button_short-beige {
  transform: rotate(0.25turn);
  opacity: 0;
}

.room-details__open-button-circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--light-beige);
  transition: width 0.4s ease, height 0.4s ease;
  z-index: 0;
}

.room-details__upper:hover .room-details__open-button_long {
  opacity: 0;
}

.room-details__upper:hover .room-details__open-button_short {
  opacity: 1;
}

.room-details__upper:hover .room-details__open-button-circle {
  width: 80px;
  height: 80px;
}

.room-details__upper_open:hover .room-details__open-button-circle {
  width: 80px;
  height: 80px;
  background-color: var(--main-green);
}

.room-details__upper_open:hover .room-details__open-button_long {
  opacity: 1;
}

.room-details__upper_open:hover .room-details__open-button_short {
  opacity: 0;
}

.room-details__upper:hover .room-details__upper-img {
  display: block;
}

.room-details__upper_open:hover .room-details__upper-img {
  display: none;
}

.room-details__upper_open:hover .room-details__open-button_short-beige {
  opacity: 1;
}

.room-details__upper_open:hover .room-details__open-button_long {
  opacity: 0;
}

.tooltip {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  background-image: url(../../assets/icons/tooltip.svg);
}

.tooltip .tooltip__body {
  visibility: hidden;
  width: 360px;
  background-color: var(--light-beige);
  color: var(--dark-green);
  box-shadow: 0px 0px 30px 2px rgba(69, 116, 96, 0.1);
  text-align: center;
  border-radius: 20px;
  padding: 20px 16px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  right: 0%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip__body {
  visibility: visible;
  opacity: 1;
}

.tooltip__text {
}

@media (max-width: 1375px) {
  .room-details__slider-box {
    grid-column: span 5;
    margin: 0;
  }

  .room-details__description {
    grid-column: span 7;
  }
}

@media (max-width: 1200px) {
  .room-details__slider-box {
    grid-column: span 12;
    margin: 0 0 60px;
  }

  .room-details__description {
    grid-column: span 12;
  }
}

@media (max-width: 768px) {
  .tooltip .tooltip__body {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 24px;
    z-index: 9999;
  }

  .room-details {
    grid-column: span 3;
    border-radius: 20px;
  }
  .room-details__upper {
    grid-template-columns: repeat(3, 1fr);
    padding: 48px 20px;
  }

  .room-details__title {
    grid-column: span 2;
  }

  .room-details__lower {
    display: none;
  }

  .room-details__lower_open {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 20px 48px;
  }

  .room-details__slider-box {
    display: block;
    grid-column: span 3;
    margin: 0 0 60px;
  }

  .room-details__description {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .room-details__category {
    margin: 0 0 20px;
    grid-column: span 3;
  }

  .rooms-details__list {
    grid-column: span 3;
    margin: 0 0 40px;
    padding: 0;
  }

  .room-details__button {
    grid-column: span 3;
  }

  .room-details__price {
    grid-column: span 3;
    grid-row: 3;
    margin: 0 0 49px;
  }

  .room-details__slider_type_main {
    display: none;
  }

  .room-details__arrow {
    display: none;
  }
}
