.rooms-upper {
  padding: 140px 64px 0;
}

.rooms-upper__image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  max-height: 800px;
}

@media (min-width: 1441px) {
  .rooms-upper {
    padding: 140px calc((100vw - 1312px) / 2) 0;
  }
}

@media (max-width: 768px) {
  .rooms-upper {
    padding: 100px 0 0;
  }

  .rooms-upper__image {
    width: 100%;
    min-height: 600px;
    border-radius: 12px;
  }
}
