.rooms {
  padding: 180px 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
}

.rooms__description {
  grid-column: span 6;
}

.rooms__img-large {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  grid-column: span 6;
  grid-row: span 2;
}

.rooms__img-small {
  object-fit: cover;
  max-height: 260px;
  border-radius: 20px;
  width: 100%;
  grid-column: 3 / span 4;
}

.rooms__text {
  margin: 0 0 60px;
}

.rooms__buildings {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rooms__buildings-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 60px;
}

.rooms__buildings-selector {
  position: relative;
  min-width: 126px;
  box-sizing: border-box;
  margin: 0 30px 0 0;
  list-style: none;
  cursor: pointer;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 20px;
  z-index: 2;
}

.rooms__buildings-selector-text {
  position: relative;
  z-index: 2;
}

.rooms__buildings-hover {
  position: absolute;
  right: -9px;
  top: -84%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  opacity: 1;
  background-color: var(--main-green);
  transform-origin: right;
  transition: transform 0.6s ease-in-out;
  transform: scale(0);
  z-index: 0;
}

.rooms__buildings-selector:hover .rooms__buildings-hover {
  transform: scale(1);
  opacity: 1;
}

.rooms__buildings-selector:active .rooms__buildings-hover {
  transform: scale(0.83);
  transform-origin: left;
}

.rooms__buildings-selector:hover .rooms__buildings-selector-text {
  color: var(--light-beige);
}

.rooms__buildings-selector_state_active:hover .rooms__buildings-selector-text {
  color: var(--dark-green);
}

.rooms__buildings-selector_state_active:hover .rooms__buildings-hover {
  display: none;
}

.rooms__buildings-selector:last-of-type {
  margin: 0;
}

.rooms__buildings-selector_state_active {
  border-bottom: 1px solid var(--dark-green);
}

@media (min-width: 1441px) {
  .rooms {
    padding: 180px calc((100vw - 1312px) / 2);
  }
}

@media (max-width: 768px) {
  .rooms {
    padding: 140px 18px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .rooms__text {
    margin: 80px 0 50px;
  }

  .rooms__description {
    grid-column: span 3;
    margin: 0 0 40px;
  }

  .rooms__img-large {
    grid-column: span 3;
    height: 332px;
  }

  .rooms__img-small {
    grid-column: 2 / span 2;
  }

  .rooms__buildings {
    grid-column: span 3;
  }

  .rooms__buildings-nav {
    margin: 80px 0 0;
  }
}
