.services-home {
  padding: 0 64px 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

@media (min-width: 1441px) {
  .services-home {
    padding: 0 calc((100vw - 1312px) / 2) 180px;
  }
}

@media (max-width: 768px) {
  .services-home {
    padding: 0 18px 140px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}
