.title {
  font-family: "Philosopher", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 72px;
  margin: 0;
  grid-column: 3 / span 8;
  text-align: center;
}

.title_services {
  margin: 0 0 100px 0;
}

@media (max-width: 768px) {
  .title {
    grid-column: span 3;
    font-size: 2.375rem;
    line-height: 44px;
  }
}
