@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url(./Montserrat-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(./Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url(./Montserrat-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  src: url(./Philosopher-Bold.ttf) format("truetype");
}
