@import url(./normalize.css);
@import url(../fonts/fonts.css);

:root {
  --dark-green: #465b4a;
  --light-beige: #ede9df;
  --beige: #efdcc0;
  --main-green: #457460;
  --white: #fdfcfb;
  --sec-green: #449477;
  --red-error: #b50202;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--dark-green);
  background-color: var(--light-beige);
}

a {
  color: var(--dark-green);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

h2 {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

h3 {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.page {
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  align-items: center;
  background-image: url("../assets/images/header-background-home.jpeg");
  background-size: cover;
  background-position: center;
}

.header__upper {
  padding: 24px 64px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.header__lower {
  padding: 400px 64px 44px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.header__menu-button {
  grid-column: span 4;
  justify-self: start;
  width: 60px;
  height: 32px;
  cursor: pointer;
  margin: 6px 0;
  background: transparent;
  border: none;
  background-image: url("../assets/icons/menu-icon.svg");
  background-size: cover;
  background-position: center;
}

.header__title {
  grid-column: span 4;
  justify-self: center;
  color: var(--white);
  margin: 2px 0;
}

.header__link-button {
  grid-column: span 4;
  justify-self: end;
  color: var(--white);
  padding: 12px 16px;
  border: solid 1px var(--white);
  border-radius: 8px;
  white-space: nowrap;
}

.header__contacts-list {
  position: relative;
  list-style-type: none;
  padding: 170px 7px 10px;
  margin: 0 0 0 7px;
  grid-column: span 1;
  justify-self: start;
}

.header__contact-link {
  margin: 0;
}

.header__contact-img {
  display: block;
}

.header__contact {
  margin: 0 0 20px;
}

.header__contact:last-of-type {
  margin: 0;
}

.header__contacts-list::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  height: 140px;
  width: 2px;
  background-color: var(--white);
}

.info {
  padding: 180px 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.info__title {
  margin: 0 0 80px;
  grid-column: 3 / span 8;
  text-align: center;
}

.link {
  grid-column: 3 / span 8;
  text-align: center;
}

.link__arrow {
  vertical-align: middle;
  width: 60px;
  height: 8px;
  margin: 6px 0 6px 16px;
}

.cards {
  background-image: url("../assets/icons/wavesbg-block-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 174px 64px 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
}

.cards__title {
  margin: 0;
}

.cards__text {
  margin: 25px 0 0;
}

.cards__article {
  grid-column: span 4;
  color: var(--light-beige);
  border-right: 1px solid var(--light-beige);
  border-bottom: 1px solid var(--light-beige);
  padding: 40px 32px;
}

.cards__article:nth-child(3n) {
  border-right: none;
}

.cards__article:nth-child(n + 4) {
  border-bottom: none;
}

.rooms {
  padding: 180px 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
}

.rooms__title {
  grid-column: 3 / span 8;
  text-align: center;
  margin: 0;
}

.rooms__description {
  grid-column: span 6;
}

.rooms__img-large {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  grid-column: span 6;
  grid-row: span 2;
}

.rooms__img-small {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  grid-column: 3 / span 4;
}

.rooms__text {
  margin: 0 0 60px;
}

.room-details {
  grid-column: span 12;
  border: 1px solid var(--main-green);
  border-radius: 8px;
}

.room-details__card {
  border-bottom: 1px solid var(--main-green);
}

.room-details__card:last-of-type {
  border-bottom: none;
}

.room-details__open-button {
  cursor: pointer;
  background: transparent;
  background-image: url("../assets/icons/room-arrow-right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 20px;
  border: none;
  padding: 0;
  grid-column: span 1;
  align-self: center;
  justify-self: end;
}

.room-details__upper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  padding: 40px;
}

.room-details__lower {
  display: none;
}

.room-details__lower_open {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  padding: 20px 40px 60px;
}

.room-details__title {
  grid-column: span 11;
  margin: 0;
}

.room-details__slider_type_main {
  margin: 0 0 16px;
}

.room-details__slider_type_thumbnails {
}

.room-details__slide_type_main {
  border-radius: 20px;
}

.room-details__slide_type_thumbnails {
  border-radius: 8px;
}

.room-details__arrow {
  width: 38px;
  height: 38px;
  background-color: var(--beige);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -225px;
}

.room-details__arrow_prev {
  background-image: url("../assets/icons/arrow-round-left.svg");
  left: -19px;
}

.room-details__arrow_next {
  background-image: url("../assets/icons/arrow-round-right.svg");
  right: -19px;
}

.room-details__slider-box {
  grid-column: span 6;
  grid-row: span 2;
}

.room-details__description {
  grid-column: 7 / span 6;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 40px;
}

.room-details__category {
  margin: 0;
  grid-column: span 1;
  white-space: nowrap;
}

.rooms-details__list {
  grid-column: span 4;
  margin: 0 0 40px;
  padding: 0;
}

.rooms-details__list-item {
  list-style-type: none;
  margin: 0 0 8px;
}

.room-details__button {
  grid-column: 2 / span 2;
  background-color: var(--main-green);
  border: none;
  border-radius: 8px;
  font-size: 20px;
  color: var(--light-beige);
  cursor: pointer;
  padding: 16px 24px;
  min-width: 212px;
  max-height: 52px;
}

.room-details__price {
  grid-column: 4 / span 2;
  white-space: nowrap;
}

.services {
  padding: 0 64px 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.services__title {
  grid-column: 3 / span 8;
  text-align: center;
  margin: 0 0 140px;
}

.service {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
  margin: 0 0 120px;
}

.service:last-of-type {
  margin: 0;
}

.service__title {
  margin: 0 0 60px;
}

.service__img {
  width: 100%;
  border-radius: 20px;
}

.service > :nth-child(1) {
  grid-column: 8 / span 3;
}

.service > :nth-child(2) {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
  border-radius: 20px 120px 20px 20px;
}

.service > :nth-child(3) {
  grid-column: 7 / span 3;
}

.service:nth-child(odd) > :nth-child(1) {
  grid-column: 4 / span 3;
}

.service:nth-child(odd) > :nth-child(2) {
  grid-column: 7 / span 6;
  grid-row: 1 / span 2;
  border-radius: 120px 20px 20px 20px;
}

.service:nth-child(odd) > :nth-child(3) {
  grid-column: 4 / span 3;
}

.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  padding: 0 64px 180px;
}

.contact__title {
  grid-column: 3 / span 8;
  text-align: center;
  margin: 0 0 140px;
}
.contact__address {
  grid-column: 2 / span 5;
}
.contact__contacts {
  grid-column: 9 / span 3;
}

.contact__link {
  margin: 0 20px 0 0;
}
.contact__link-button {
  grid-column: span 12;
  justify-self: center;
  color: var(--white);
  background-color: var(--main-green);
  padding: 20px 24px;
  border-radius: 8px;
  margin-top: 100px;
}
.contact__subtitle {
  margin: 0 0 20px;
}
.contact__text {
  margin: 0 0 20px;
  font-size: 20px;
}

.contact__address-text {
  margin: 0 0 76px;
  font-size: 20px;
}

.welcome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 120px;
  padding: 0 64px 120px;
}

.welcome__title {
  grid-column: 3 / span 8;
  grid-row: 2;
  text-align: center;
  margin: 0;
}

.welcome__img {
  grid-row: 1;
  grid-column: span 12;
  width: 100%;
  border-radius: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
  padding: 180px 0 180px;
}

.gallery__title {
  grid-column: 3 / span 8;
  text-align: center;
  margin: 0;
}

.gallery__slider {
  grid-column: span 12;
}

.gallery__slide {
  border-radius: 20px;
  overflow: hidden;
}

.gallery__img {
  width: 100%;
}

.reviews {
  background-image: url("../assets/icons/waves-bg-block2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
  padding: 162px 64px 188px;
  color: var(--light-beige);
  box-sizing: border-box;
}

.reviews__title {
  grid-column: 4 / span 6;
  text-align: center;
  margin: 0;
}

.reviews__text {
  margin: 0;
  max-height: 270px;
  overflow: scroll;
}

.reviews__slider {
  grid-column: span 12;
}

.reviews__card {
  box-sizing: border-box;
  padding: 40px 32px;
  border: 1px solid var(--light-beige);
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  background-color: var(--main-green);
}

.reviews__card-title {
  margin: 0 0 32px;
}

.reviews__arrow {
  width: 192px;
  height: 20px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -55px;
}

.reviews__arrow_prev {
  background-image: url("../assets/icons/arrow-beige-left.svg");
  left: 0em;
}

.reviews__arrow_next {
  background-image: url("../assets/icons/arrow-beige-right.svg");
  right: 0em;
}

.footer {
  background-image: url("../assets/icons/wavesbg-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 164px 64px 112px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  box-sizing: border-box;
}

.footer__block {
  margin: 10px 0 0;
}

.footer__block_type_contacts {
  grid-column: span 5;
  grid-row: span 2;
}

.footer__block_type_links {
  grid-column: 6 / span 2;
  grid-row: span 2;
}
.footer__block_type_documents {
  grid-column: 9 / span 4;
  grid-row: 2;
  margin: 0;
}

.footer__block_type_social {
  grid-column: 9 / span 4;
  grid-row: 1;
  margin: 0 0 20px;
}

.footer__navlink {
  display: block;
  color: var(--light-beige);
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  margin: 0 0 24px;
}
.footer__text {
  color: var(--light-beige);
  margin: 0 0 24px;
}

.footer__link {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .header__upper {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 40px 18px;
    row-gap: 32px;
  }

  .header__lower {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 300px 18px 40px;
  }

  .header__menu-button {
    grid-column: span 1;
  }

  .header__title {
    grid-column: 2 / span 1;
    grid-row: 2;
  }

  .header__link-button {
    grid-column: 2 / span 2;
  }

  .header__contacts-list {
    margin: 0;
  }

  .info {
    padding: 140px 18px 100px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .info__title {
    margin: 0 0 60px;
    grid-column: span 3;
    font-size: 38px;
    line-height: 44px;
  }

  .link {
    grid-column: span 3;
    text-align: center;
  }

  .cards {
    padding: 83px 18px 117px;
    grid-template-columns: repeat(3, 1fr);
  }

  .cards__article {
    grid-column: span 3;
    border-right: none;
    padding: 40px 0;
  }

  .cards__article:nth-child(n + 4) {
    border-bottom: 1px solid var(--light-beige);
  }

  .rooms {
    padding: 140px 18px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  .rooms__title {
    margin: 0 0 60px;
    grid-column: span 3;
    font-size: 38px;
    line-height: 44px;
  }

  .rooms__text {
    margin: 0 0 50px;
  }

  .rooms__description {
    grid-column: span 3;
    margin: 0 0 40px;
  }

  .rooms__img-large {
    grid-column: span 3;
    height: 332px;
  }

  .rooms__img-small {
    grid-column: 2 / span 2;
  }

  .services {
    padding: 0 18px 140px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
  .services__title {
    margin: 0 0 100px;
    grid-column: span 3;
    font-size: 38px;
    line-height: 44px;
  }

  .service {
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin: 0 0 100px;
  }

  .service__title {
    margin: 44px 0 40px;
  }

  .service > :nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 4;
  }

  .service > :nth-child(2) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    border-radius: 20px 60px 20px 20px;
  }

  .service > :nth-child(3) {
    grid-column: 2 / span 2;
  }

  .service:nth-child(odd) > :nth-child(1) {
    grid-column: 2 / span 2;
    grid-row: 4;
    justify-self: end;
  }

  .service:nth-child(odd) > :nth-child(2) {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    border-radius: 60px 20px 20px 20px;
  }

  .service:nth-child(odd) > :nth-child(3) {
    grid-column: 1 / span 2;
  }

  .reviews {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    padding: 97px 18px 114px;
  }

  .reviews__title {
    margin: 0;
    grid-column: span 3;
    font-size: 38px;
    line-height: 44px;
  }

  .reviews__text {
    max-height: 180px;
    position: relative;
    overflow: hidden;
  }

  .reviews__card:after {
    margin: 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 34px;
    height: 54px;
    background: linear-gradient(
      to bottom,
      rgba(69, 116, 96, 0.3) 0%,
      rgba(69, 116, 96, 1) 100%
    );
    content: "Читать полностью";
    text-decoration: underline;
    font-size: 16px;
    cursor: pointer;
  }

  .reviews__slider {
    grid-column: span 3;
  }

  .reviews__card {
    padding: 32px 20px 66px;
  }

  .reviews__arrow {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 80px;
    padding: 140px 0;
  }

  .gallery__title {
    margin: 0;
    grid-column: span 3;
    font-size: 38px;
    line-height: 44px;
  }

  .gallery__slider {
    grid-column: span 3;
  }

  .gallery__slider {
    grid-column: span 3;
  }

  .contact {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 0 18px 140px;
  }

  .contact__title {
    margin: 0;
    grid-column: span 3;
    font-size: 38px;
    line-height: 44px;
    margin: 0 0 80px;
  }

  .contact__address {
    grid-column: span 3;
  }
  .contact__contacts {
    margin: 60px 0 0;
    grid-column: span 3;
  }

  .contact__link {
    margin: 0 20px 0 0;
  }
  .contact__link-button {
    grid-column: span 3;
    margin-top: 75px;
    padding: 20px 45px;
  }

  .contact__address-text {
    margin: 0 0 52px;
  }

  .welcome {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 100px;
    padding: 0 0 100px;
  }

  .welcome__title {
    grid-column: span 3;
    grid-row: 2;
    font-size: 38px;
    line-height: 44px;
  }

  .welcome__img {
    grid-row: 1;
    grid-column: span 3;
    height: 350px;
    object-fit: cover;
  }

  .footer {
    padding: 118px 18px 60px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }

  .footer__block {
    margin: 0;
  }

  .footer__block_type_contacts {
    grid-column: span 3;
    grid-row: 1;
  }

  .footer__block_type_links {
    grid-column: span 3;
    grid-row: span 2;
  }
  .footer__block_type_documents {
    grid-column: span 3;
    grid-row: 3;
    margin: 0 0 60px;
  }

  .footer__block_type_social {
    grid-column: span 3;
    grid-row: 2;
    margin: 0 0 60px;
  }
}

@media (max-width: 375px) {
  .cards {
    background-image: url("../assets/icons/waves-block1-mob.svg");
    min-height: 1620px;
  }

  .reviews {
    background-image: url("../assets/icons/waves-block-2-mob.svg");
    min-height: 760px;
  }

  .footer {
    background-image: url("../assets/icons/waves-footer-mob.svg");
    min-height: 810px;
  }
}

@media (max-width: 1375px) {
  .room-details__slider-box {
    grid-column: span 5;
  }

  .room-details__description {
    grid-column: span 7;
  }
}

@media (max-width: 1200px) {
  .room-details__slider-box {
    grid-column: span 12;
    margin: 0 0 60px;
  }

  .room-details__description {
    grid-column: span 12;
  }
}

@media (max-width: 768px) {
  .room-details {
    grid-column: span 3;
    border-radius: 20px;
  }
  .room-details__upper {
    grid-template-columns: repeat(3, 1fr);
    padding: 48px 20px;
  }

  .room-details__title {
    grid-column: span 2;
  }

  .room-details__lower {
    display: none;
  }

  .room-details__lower_open {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 20px 48px;
  }

  .room-details__slider-box {
    display: block;
    grid-column: span 3;
    margin: 0 0 60px;
  }

  .room-details__description {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .room-details__category {
    margin: 0 0 20px;
    grid-column: span 3;
  }

  .rooms-details__list {
    grid-column: span 3;
    margin: 0 0 40px;
    padding: 0;
  }

  .room-details__button {
    grid-column: span 3;
  }

  .room-details__price {
    grid-column: span 3;
    grid-row: 3;
    margin: 8px 0 49px;
  }

  .room-details__slider_type_main {
    display: none;
  }

  .room-details__arrow {
    display: none;
  }
}
.splide__track--nav
  > .splide__list
  > .splide__slide.room-details__slide_type_thumbnails {
  border: none;
}

.splide__track--nav
  > .splide__list
  > .splide__slide.room-details__slide_type_thumbnails.is-active {
  border: none;
}
