@import url(./normalize.css);
@import url(../fonts/fonts.css);

:root {
  --dark-green: #465b4a;
  --light-beige: #ede9df;
  --beige: #efdcc0;
  --main-green: #457460;
  --white: #fdfcfb;
  --sec-green: #449477;
  --red-error: #b50202;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", system-ui, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  color: var(--dark-green);
  background-color: var(--light-beige);
}

a {
  color: var(--dark-green);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}

h1 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

h2 {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

h3 {
  font-family: "Philosopher";
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.page {
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  align-items: center;
  background-image: url("../assets/images/header-background-home.jpeg");
  background-size: cover;
  background-position: center;
}

.header__upper {
  padding: 24px 64px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.header__lower {
  padding: 400px 64px 44px;
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.header__menu-button {
  grid-column: span 4;
  justify-self: start;
  width: 60px;
  height: 32px;
  cursor: pointer;
  margin: 6px 0;
  background: transparent;
  border: none;
  background-image: url("../assets/icons/menu-icon.svg");
  background-size: cover;
  background-position: center;
}

.header__title {
  grid-column: span 4;
  justify-self: center;
  color: var(--white);
  margin: 2px 0;
}

.header__link-button {
  grid-column: span 4;
  justify-self: end;
  color: var(--white);
  padding: 12px 16px;
  border: solid 1px var(--white);
  border-radius: 8px;
}

.header__contacts-list {
  position: relative;
  list-style-type: none;
  padding: 170px 7px 10px;
  margin: 0 0 0 7px;
  grid-column: span 1;
  justify-self: start;
}

.header__contact-link {
  margin: 0;
}

.header__contact-img {
  display: block;
}

.header__contact {
  margin: 0 0 20px;
}

.header__contact:last-of-type {
  margin: 0;
}

.header__contacts-list::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 22px;
  height: 140px;
  width: 2px;
  background-color: var(--white);
}

.main {
}

.info {
  padding: 180px 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.info__title {
  grid-column: 3 / span 8;
  text-align: center;
}

.link {
  grid-column: 3 / span 8;
  text-align: center;
}

.link__arrow {
  vertical-align: middle;
  width: 60px;
  height: 8px;
  margin: 6px 0 6px 16px;
}

.cards {
  background-image: url("../assets/icons/wavesbg-block-1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 174px 64px 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.cards__article {
  grid-column: span 4;
  color: var(--light-beige);
  border-right: 1px solid var(--light-beige);
  border-bottom: 1px solid var(--light-beige);
  padding: 40px 32px;
}

.cards__article:nth-child(3n) {
  border-right: none;
}

.cards__article:nth-child(n + 4) {
  border-bottom: none;
}

.rooms {
  padding: 180px 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
}

.rooms__title {
  grid-column: 3 / span 8;
  text-align: center;
}

.rooms__description {
  grid-column: span 6;
}

.rooms__img-large {
  width: 100%;
  grid-column: span 6;
  grid-row: span 2;
}

.rooms__img-small {
  width: 100%;
  grid-column: 3 / span 4;
}

.rooms__text {
  margin-bottom: 60px;
}

.services {
  padding: 0 64px 180px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
}

.services__title {
  grid-column: 3 / span 8;
  text-align: center;
}

.service {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 140px;
}

.service__img {
  width: 100%;
}

.service > :nth-child(1) {
  grid-column: 8 / span 3;
}

.service > :nth-child(2) {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
}

.service > :nth-child(3) {
  grid-column: 7 / span 3;
}

.service:nth-child(odd) > :nth-child(1) {
  grid-column: 4 / span 3;
}

.service:nth-child(odd) > :nth-child(2) {
  grid-column: 7 / span 6;
  grid-row: 1 / span 2;
}

.service:nth-child(odd) > :nth-child(3) {
  grid-column: 4 / span 3;
}

.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  padding: 0 64px 180px;
}

.contact__title {
  grid-column: 3 / span 8;
  text-align: center;
}
.contact__address {
  grid-column: 2 / span 5;
}
.contact__contacts {
  grid-column: 9 / span 3;
}
.contact__link-button {
  grid-column: span 12;
  justify-self: center;
  color: var(--white);
  background-color: var(--main-green);
  padding: 20px 24px;
  border-radius: 8px;
  margin-top: 100px;
}
.contact__subtitle {
  margin: 0 0 20px;
}
.contact__text {
  margin: 0 0 20px;
}

.contact__address-text {
  margin: 0 0 76px;
}

.welcome {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 120px;
  padding: 0 64px 120px;
}

.welcome__title {
  grid-column: 3 / span 8;
  grid-row: 2;
  text-align: center;
  margin: 0;
}

.welcome__img {
  grid-row: 1;
  grid-column: span 12;
  width: 100%;
  border-radius: 20px;
}

.footer {
  background-image: url("../assets/icons/wavesbg-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 164px 208px 112px 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
}

.footer__block {
  margin: 10px 0 0;
}

.footer > :nth-child(1) {
  grid-column: span 4;
  grid-row: span 2;
}

.footer > :nth-child(2) {
  grid-column: 6 / span 2;
  grid-row: span 2;
}

.footer > :nth-child(3) {
  grid-column: 9 / span 4;
  grid-row: 2;
  margin: 0;
}

.footer > :nth-child(4) {
  grid-column: 9 / span 4;
  grid-row: 1;
  margin: 0;
}

.footer__navlink {
  display: block;
  color: var(--light-beige);
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  margin: 0 0 24px;
}
.footer__text {
  color: var(--light-beige);
  margin: 0 0 24px;
}

.footer__link {
  margin-right: 20px;
}
